{% extends 'base.html' %}
{% load static %}

{% block title %}Carrinho{% endblock %}

{% block body %}
<div class="container py-2">
    <h1 class="text-center">Carrinho de Compras</h1>

    {% if itens_pedido %}
        <div class="card shadow rounded-3">
            <div class="card-body">
                {% for item in itens_pedido %}
                    <div class="d-flex">
                        <img src="{{ item.item_estoque.produto.imagem.url }}" class="rounded" width="100" alt="Imagem do Produto" style="object-fit: contain;">
                        <div class="ms-4">
                            <h5 class="mb-2">{{ item.item_estoque.produto.nome }}</h5>
                            <p class="mb-2"><strong>Cor:</strong>
                                <svg width="20px" height="20px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <defs><style>.a{stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width: 3px}</style></defs>
                                    <circle class="a" fill="{{ item.item_estoque.cor.codigo }}" cx="24" cy="24" r="21.5"/>
                                </svg>
                                <strong>Tamanho:</strong> {{ item.item_estoque.tamanho }}
                            </p>
                            <p class="mb-2"><strong>Preço: </strong> R$ {{ item.item_estoque.produto.preco }}</p>
                            <div class="d-flex">
                                <p class="mb-2 d-flex align-items-center gap-2"><strong class="mt-1 me-2">Quantidade:</strong>
                                    <form method="POST" action="{% url 'remover_carrinho' item.item_estoque.produto.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="tamanho" value="{{ item.item_estoque.tamanho }}">
                                        <input type="hidden" name="cor" value="{{ item.item_estoque.cor.id }}">
                                        <input type="hidden" name="form_excluir" value="excluir_unidades">
                                        <button type="submit" class="btn btn-outline-danger btn-sm px-2">−</button>
                                    </form>

                                    <span class="fw-bold fs-5 mx-2">{{ item.quantidade }}</span>

                                    <form method="POST" action="{% url 'adicionar_carrinho' item.item_estoque.produto.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="tamanho" value="{{ item.item_estoque.tamanho }}">
                                        <input type="hidden" name="cor" value="{{ item.item_estoque.cor.id }}">
                                        <button type="submit" class="btn btn-outline-success btn-sm px-2">+</button>
                                    </form>
                                </p>
                            </div>
                                <p class="mb-2"><strong>Total:</strong> R$ {{ item.preco_total }}</p>
                        </div>
                        <div class="ms-auto align-self-start">
                            <form method="POST" action="{% url 'remover_carrinho' item.item_estoque.produto.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="tamanho" value="{{ item.item_estoque.tamanho }}">
                                <input type="hidden" name="cor" value="{{ item.item_estoque.cor.id }}">
                                <input type="hidden" name="form_excluir" value="excluir_item">
                                <button type="submit" class="btn-close"></button>
                            </form>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr class="my-4">
                    {% endif %}
                {% endfor %}
                <hr class="my-4">
                <h5 class="mb-2 text-end">Total do Carrinho: R$ {{ pedido.preco_total }}</h5>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg">Ir para o Checkout</a>
        </div>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            Seu carrinho está vazio!
        </div>
    {% endif %}
</div>
{% endblock %}
