{% load static %}
<nav class="navbar navbar-expand-lg shadow fixed-top bg-light">
  <div class="container-fluid align-items-center">
    <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'images/logo.png' %}" width="60" height="67" class="img-fluid"></a>
    <a class="navbar-brand" href="{% url 'homepage' %}"><strong>ByteShop</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'loja' %}"><strong>Loja</strong></a>
        </li>

        {% for categoria in categorias %}
        <li class="nav-item dropdown">
          <a class="nav-link active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{ categoria.nome.title }}</strong>
          </a>
          <ul class="dropdown-menu pb-0">
            {% for tipo in tipos %}
              {% if tipo.categoria.slug == categoria.slug %}
                <li>
                  <a class="dropdown-item mb-2" aria-current="page" href="{% url 'loja' %}{{ categoria.slug }}-{{ tipo.slug }}">{{ tipo.nome.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
            <li><hr class="dropdown-divider mb-0"></li>
            <li><a class="nav-link active text-center" aria-current="page" href="{% url 'loja' %}{{ categoria.slug }}"><strong>Ver Tudo</strong></a></li>
          </ul>
        </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'minha_conta' %}">Minha Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-0" href="{% url 'carrinho' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="40" height="40">
              <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clip-rule="evenodd" />
              {% if quantidade_produtos_carrinho > 0 %}
              <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{quantidade_produtos_carrinho}}
              </span>
              {% endif %}
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>