{% extends 'base.html' %}
{% load static %}

{% block title %}{{ produto.nome }}{% endblock %}

{% block body %}
<div class="container">
{% if tem_estoque %}

    <h3 class="text-center">{{ produto.nome }}</h3>
        <img src="{{ produto.imagem.url }}" width="300" height="450" class="rounded">
        <p>{{ produto.nome }}</p>
        <p>{{ produto.preco }}</p>

    {% if cor_selecionada %}
        <p class="m-0">Cor: {{cor_selecionada.nome}}</p>
    {% else %}
        <p class="m-0">Selecione a Cor:</p>
    {% endif %}
    <div class="row m-0 gap-3">
    {% for cor in cores %}
        <a href="{% url 'ver_produto' produto.id cor.id %}" class="circulos-cores shadow" style="background-color: {{ cor.codigo }}"></a>
    {% endfor %}
    </div>

    {% if tamanhos %}
    <form method="POST" action="{% url 'adicionar_carrinho' produto.id %}">
        {% csrf_token %}
        <p>Selecione o tamanho:</p>
        {% for tamanho in tamanhos %}
        <div class="size-option">
            <input type="radio" id="size-{{ tamanho }}" name="tamanho" value="{{ tamanho }}">
            <label for="size-{{ tamanho }}">{{ tamanho }}</label>
        </div>
        {% endfor %}
        <input type="hidden" name="cor" value="{{ cor_selecionada.id }}">
        <input type="hidden" name="novo_item" value="True">
        <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
    </form>
    {% endif %}


{% else %}
    <p>Lamentamos, mas não temos estoque para esse produto.</p>
{% endif %}
</div>
{% endblock %}