.cor-fundo {
    background-color: #F8F8FF;
}

.transicao {
    transition: transform 0.3s ease;
}

.transicao:hover {
    transform: scale(1.02);
}

.transicao-maior {
    transition: transform 0.1s ease;
}

.transicao-maior:hover {
    transform: scale(1.07);
}

.circulos-cores {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    border: 1px solid black;
}

.circulos-cores:hover {
    transform: scale(1.05);
}



.size-option {
    display: inline-block;
}

.size-option input[type="radio"] {
    display: none; /* Oculta o input original */
}

.size-option label {
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px; /* Aumenta o tamanho do botão */
    border: 2px solid #343a40; /* Cor da borda para dark */
    border-radius: 3px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 18px; /* Tamanho da fonte */
    color: #343a40; /* Cor do texto para dark */
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para quando o input radio está selecionado */
.size-option input[type="radio"]:checked + label {
    background-color: #343a40; /* Cor de fundo quando selecionado */
    color: white; /* Cor do texto quando selecionado */
    border-color: #1d2124; /* Cor da borda quando selecionado (mais escuro) */
}